body { background-color:#ffddd2;
    font-family: 'Patrick Hand', cursive;}

    form label { color:#e2815e;}


ul li{ margin:10px}




.valid-form { 
    color:green;
    display: hidden;
}

.invalid-form { 
    color:red;
}