
body { background-color:#ffddd2;
    background: #FBD3E9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Dosis', sans-serif;
    margin:15px;
    
    text-shadow: 2px 2px 4px #8a8787;
}
    form label { color:#ffffff;}
ul li{ margin:10px}
.container { 
    background-color:#1B1D63;
}
.valid-form { 
    color:green;
    display: hidden;
}
.invalid-form { 
    color:red;
}
#testy { 
    float:right;
}
.button-flex { 
    display:flex;
    justify-content: space-between;
    position: relative;
	top: -6px;
	border: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
    margin-right: 2px;
    
 
}
.task-style { 
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color:white;
}
.cards { 
    display:flex;
    color:white;
    box-shadow: 3px 5px rgba(129, 128, 128, 0.5);
    box-shadow: 10px 10px 5px grey;
}

.form-control {
    border-radius: 20px 0px 20px 0px;
    border:none;
    outline:none;
    text-shadow: 2px 10px rgba(241, 235, 235, 0.5);
    box-shadow: 3px 3px rgba(77, 74, 74, 0.5);
    cursor: pointer;
}

#name-validation, #assigned-validation {

text-transform:capitalize;

}

.container {

    box-shadow: 10px 10px 5px rgb(44, 43, 43);
    border-radius: 20px 20px 20px 20px;
}
